{% extends 'base.html' %}
{% load static %}

{% block title %} Order Manager | Edit
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row main-frame">
        <div class="border sub-frame-1">
            <ul>
                <li> <a class="active" href="../../">Order Manager</a>
                <li> <a href="../../product/">Product Manager</a>
                <li> <a href="../../pack/">Pack Manager</a>
            </ul>
        </div>
        <div class="border sub-frame-3">
            <form class="row" action="" method="POST">
                {% csrf_token %}
                <div class="col-8">

                    <div class="row ">
                        <div class=" col-4 ">Order No {{form.order_no}}</div>
                        <div class=" col-4 ">Order Date {{form.order_date}}</div>
                        <div class=" col-4 ">customer_address {{form.customer_address}}</div>
                    </div>

                    <div class="row ">
                        <div class=" col-4 ">Customer Name {{form.customer_name}}</div>
                        <div class=" col-4 ">Customer Phone Number {{form.customer_phone}}</div>
                        <div class=" col-4 ">Customer Email {{form.customer_email}}</div>
                    </div>

                    <div class="row ">
                        <div class=" col-4">{{form.domestic_delivery_method}}</div>
                        <div class=" col-4">{{form.payment_method}}</div>
                        <div class=" col-4">{{form.status}}</div>
                    </div>

                    <div class="row" style="width:100%;margin-left:0px">
                        <div class="remove-border col-4 ">
                            <div class="mini-block-1">
                                Total product price {{form.total_product_price}}
                                Estimated total weight {{form.estimated_total_weight}}
                                Fix total weight {{form.fix_total_weight}}
                            </div>
                            <div class="mini-block-2">
                                <div class="white-space"></div>
                                <div class="white-space"></div>
                                Estimated ship fee {{form.estimated_ship_fee}}
                            </div>
                        </div>
                        <div class=" col-4">
                            <div class="white-space"></div>
                            <div class="white-space"></div>
                            Fix ship fee {{form.fix_ship_fee}}
                        </div>
                        <div class=" col-4">
                            <div class="white-space"></div>
                            estimated_total_fee {{form.estimated_total_fee}}
                            Fix total fee {{form.fix_total_fee}}
                            
                        </div>
                    </div>
                </div>
                <div class="col-4">

                    <div class="row">
                        <div class=" col-1 "></div>
                        <div class=" col-5 ">
                            <input class="btn-create" type="submit" value="Update Order"/>
                        </div>
                        <div class=" col-5 ">
                            <input class="btn-create" type="button" OnClick="" value="Push Notification"/>
                        </div>
                    </div>

                    <div class="row col-12 order-memo ">
                        {{form.memo}}
                    </div>
                </div>

            </form>


                <HR>

                {% for product in products %}
                <form action='{% url 'update-product' product.initial.id %}' method="POST">
                {% csrf_token%}
                    <span><b>PRODUCT INFORMATION </b> No.{{forloop.counter}}</span>

                    <div class="row product-form">
                        <div class="col-9">
                            <div class="row" style="width:100%">
                                <div class=" col-6">
                                    Product Name {{product.product_name}}
                                </div>
                                <div class=" col-2">
                                    Quantity {{product.quantity}}
                                </div>   
                                <div class=" col-2">
                                    Price {{product.price}}
                                </div>   
                                <div class=" col-2">
                                    Total price {{product.total_price}}
                                </div>                                                           
                            </div>
                            <div class="row" style="margin-left:0px">
                                <div class="col-3 border">
                                    <img src="{{MEDIA_URL}}/media/default.png" width="100%"/>
                                </div>
                                <div class="col-9">

                                    <div class="col-10">
                                            Product URL {{product.product_url}}
                                    </div>  


                                    <div class="row">
                                        <div class="col-5"> 
                                            Ship Company {{product.ship_company}}
                                        </div>
                                        <div class="row col-7">
                                            <div class="col-6">
                                                Estimated weight {{product.estimated_weight}}
                                            </div>
                                            <div class="col-6">
                                                Measurement weight {{product.measurement_weight}}
                                            </div>
                                        </div>
                                    </div>

                                    

                                    <div class="col-10 product-memo">
                                        {{product.memo_from_customer}}
                                    </div>
                                </div>  

                            </div>
                        </div>
                        <div class="col-3">
                                <div class="col-10 ">
                                    {{product.status}}
                                </div>    
                                <div class="col-10 ">
                                    {{product.pack}}
                                    
                                </div>   
                                <div class="col-5" style="margin-left:82px">
                                    <input type="submit" value="UPDATE" 
                                    style="width:150px; margin-top: 20px;"/>

                                    <input type="submit"
                                    onclick="location.href='{% url 'delete-product' current_id product.initial.id %}'"
                                    style="width:150px; margin-top:80px; background-color:maroon!important"
                                    value="DELETE"/>
                                </div>                                                             
                            </div>
                        </div> 
                        </form>
            {% endfor %}
            

            <HR>
            {% if current_id %}
                <input type="submit" onclick="location.href='{% url 'add-product' current_id %}'" value="Add Product"/>
            {% endif %}
            

           
        </div> 
    </div>
</div>

{%endblock  %}