{% extends 'Base.html' %}
{% load static %}

{% block title %} Order Manager 
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row main-frame">
        <div class="border sub-frame-1">
            <ul>
                <li> <a class="active" href="">Order Manager</a>
                <li> <a href="../product/">Product Manager</a>
                <li> <a href="../pack/">Pack Manager</a>
            </ul>
        </div>    
        <div class="border sub-frame-2">
            <table>
                <tr>
                    <td>Order No</td>
                    <td>Order Date</td>
                    <td>Customer Name</td>
                    <td>Address</td>
                    <td>TEL</td>
                    <td>How to Pickup</td>
                    <td>Payment Method</td>
                    <td>Delivery Date</td>
                    <td>Delivery Time</td>
                    <td>Status</td>
                </tr>
                {% for order in orders %}
                    <tr  >
                        <td ><a href="../order/edit/?q={{order.id}}">{{order.order_no}}</a></td>
                        <td >{{order.order_date}}</td>
                        <td >{{order.customer_name}}</td>
                        <td >{{order.customer_address}}</td>
                        <td >{{order.customer_phone}}</td>
                        <td >{{order.domestic_delivery_method}}</td>
                        <td >{{order.payment_method}}</td>
                        <td >{{order.delivery_date}}</td>
                        <td >{{order.delivery_time}}</td>
                        <td >{{order.status}}</td>
                    </tr>
                {% endfor %}
                {% comment %} {% if len(orders)<10 %}
                
                {% endif %} {% endcomment %}
                {% for i in '01234567'|make_list %}
                    <tr >
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
                <tr class="tr-end">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                </tr>
                </table>
                <a href="../order/edit/?q=create_new">
                    <input class="btn-manager-page" type="button" value="Create New Order"/>
                </a>
                
        </div> 
    </div>
</div>

{%endblock  %}