{% extends 'base.html' %}
{% load static %}

{% block title %} Pack Manager | Edit
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row main-frame">
        <div class="border sub-frame-1">
            <ul>
                <li> <a href="../../">Order Manager</a>
                <li> <a href="../../product/">Product Manager</a>
                <li> <a class="active" href="../../pack/">Pack Manager</a>
            </ul>
        </div>
        <div class="border sub-frame-3">
            <form class="row" action="" method="POST">
                {% csrf_token %}
                <div class="col-6">

                    <div class="row ">
                        <div class=" col-4 ">Order No {{form.pack_no}}</div>
                        <div class=" col-4 ">Total Price {{form.total_price}}</div>
                        <div class=" col-4 ">Total Weight {{form.total_weight}}</div>
                    </div>

                    <div class="row ">
                        <div class=" col-4 ">Oversea Ship Fee {{form.oversea_ship_fee}}</div>
                        <div class=" col-4 ">Foreign Domestic Fee {{form.foreign_domestic_fee}}</div>
                        <div class=" col-4 ">Vn Domestic Fee {{form.vn_domestic_fee}}</div>
                    </div>

                    <div class="row ">
                        <div class=" col-7 ">{{form.status}}</div>
                    </div>

                    <div class="row">
                        <div class=" col-4 ">To Start Ship Date {{form.to_start_ship_date}}</div>
                        <div class=" col-4 ">Arrived Date {{form.arrived_date}}</div>
                    </div>

                    <div class="row">
                        <div class="pack-memo">{{form.memo}}</div>
                    </div>

                    <div class=" col-4 ">
                            <input type="submit" value="Submit" style="margin-top: 20px;"/>
                        </div>

                </div>
    


            </form>


           
        </div> 
    </div>
</div>

{%endblock  %}